<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/Recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/ShoppingList">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!this.authService.isAuthenticated()">
          <li routerLinkActive="active"><a routerLink="/Login">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/Signup">Register</a></li>    
        </ng-template>
        <ng-template [ngIf]="this.authService.isAuthenticated()">
          <li><a style="cursor: pointer;" (click)="onSignout()">Logout</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
              <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
